<div class="social">
        {% if not hide_profiles_title %}<h2>Profiles</h2>{% endif %}
        <ul>
            {% if FEED_ALL_ATOM %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
            {% endif %}
            {% if FEED_ALL_RSS %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
            {% endif %}
            {% for name, link in SOCIAL %}
            <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
</div><!-- /.social -->
